.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 64px;
}

.card{
    margin: 25px 0 0 0;
    padding: 0;
    width: 125px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.card img{
    max-width: 100px;
}

/* .card-header{
    background-color: aqua;
} */