<div class="wrapper">
    <mat-card class="card" *ngFor="let item of teste">
        <mat-card-header class="card-header">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.name}}</mat-card-title>
            <mat-card-subtitle>{{item.level}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{item.img}}" alt="Photo of {{item.name}}">
        <mat-card-content>
            <p>
                Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. Posuere libero varius.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">LIKE</button>
            <button mat-raised-button color="accent">SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>